.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(66, 66, 66);

  button {
    align-self: center;
    margin-right: 16px;
  }
}

.nav-wrap {
  display: flex;
  gap: 8px;
  align-items: center;

  a {
    color: #fff;
  }
}

::ng-deep .mat-mdc-menu-content {
  padding: 16px !important;
  min-width: 230px;

  .submit-button {
    width: 100%;
  }

  .pizza-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }

  h3,.pizza-title, .pizza-price {
    color: #fff;
  }

  .pizza-image {
    height: 50px;
    width: 50px;
  }
}
