<div class="pizza-menu-container">
  <div class="page-header">
    <h1>Nossos Sabores</h1>

    <button mat-raised-button
            (click)="createPizza()">Cadastrar Pizza</button>
  </div>

  <div class="menu-wrap">
    <mat-card *ngFor="let pizza of pizzas"
              class="pizza-card">
      <mat-card-header>
        <mat-card-title>{{ pizza.name}}</mat-card-title>
        <mat-card-subtitle>{{ pizza.price}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           [src]="pizza.imageUrl">
      <mat-card-content>
        <p>
          {{ pizza.description}}
        </p>
      </mat-card-content>
      <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions> -->
    </mat-card>
  </div>


  <app-new-pizza-form *ngIf="showAddPizzas"
                      (loadPizzas)="getPizzas()"
                      (cancel)="showAddPizzas=false"></app-new-pizza-form>


</div>
