.pizza-menu-container {
  padding: 24px 48px;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.menu-wrap {
  display: flex;
  gap: 24px;
  flex-wrap: wrap
}


.pizza-card {
  max-width: 300px;
  justify-content: space-between;
   * {
    color: #fff !important;
   }
}
