<form class="card-form"
        [formGroup]="pizzaForm">

    <div class="form-wrap"
         formArrayName="pizzas">
      <mat-card class="form-card"
                *ngFor="let pizza of formPizzas.controls; let i = index"
                [formGroupName]="i">
        <button mat-icon-button
                *ngIf="formPizzas.controls.length !== 1"
                (click)="removePizza(i)"
                class="close-button"
                aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>clear</mat-icon>
        </button>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input type="text"
                   formControlName="name"
                   matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Preço:</mat-label>
            <input type="number"
                   formControlName="price"
                   matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Descrição:</mat-label>
            <input type="text"
                   formControlName="description"
                   matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Url imagem:</mat-label>
            <input type="url"
                   formControlName="imageUrl"
                   matInput>
          </mat-form-field>
        </mat-card-content>
        <button mat-button
                *ngIf="i === formPizzas.controls.length-1"
                (click)="addPizza()">Adicionar outra Pizza</button>
      </mat-card>

      <div class="action-buttons">
        <button mat-raised-button (click)="savePizzas()" class="submit-button">
          Salvar novos sabores
        </button>
        <button mat-raised-button (click)="cancel.emit()" class="submit-button" color="warn">
          Cancelar
        </button>
      </div>

    </div>
  </form>
